*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    --background-color: #0E185F;
    --blue-accent: #4ca1e2;
    --green-accent: #00FFDD;
    --yellow-accent: #E8FFC2;
}

html{
    height: 100%;
}

body{
    height: 100%;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    font-family: cursive;
    color: white;
    font-size: 3rem;
}

.login-form{
    border-radius: 20px;
    width: 70%;
    height: 10rem;
}

.login-form form{
    padding: 2%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-accent);
}

.login-form form input{
    width: 75%;
    height: 1.5rem;
    margin: 5px;
    text-align: center;
}

.login-form form button{
    width: 75.5%;
    height: 1.5rem;
    text-align: center;
    background-color: var(--green-accent);
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    cursor: pointer;
    border: none;
}

.login-form form textarea{
    width: 75%;
}